.field {
    width: 60%;
    display: block;
    margin: auto;
}

.options-for-login {
    margin: 10px 40px;
    padding: 10px;
    background-color: #508a91a1;
    border-radius: 10px;
}

#copy-to-clipboard:hover {
    cursor: pointer;
}